<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- Used for redirections -->
<meta name="ctx" th:content="@{/}" />
<title>Model-ActionListener</title>

<meta name="ctx" th:content="@{/}" />

<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"
	href="/assets/css/bootstrap.min.css" />

<link href="/assets/css/fontello.css"
	th:href="@{/assets/css/fontello.css}" rel="stylesheet" />

<script th:src="@{/assets/js/jquery-3.3.1.min.js}"
	src="assets/js/jquery-3.3.1.min.js"></script>


</head>
<body>

	<div class="container">



		<h3>Simulate ActionListener before Submit</h3>
		<div class="row">
			<div class="col">
				<form action="#" th:action="@{/saveform}" th:object="${modelform}"
					method="post">
					<!--  Modal -->
					<div class="modal" id="myModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">We have calculated the sum of
										values</h5>
									<button type="button" class="close" id="close"
										data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Are you agree with this sum???</p>
								</div>
								<div class="modal-footer">
									<!-- 
									<a href="#" data-dismiss="modal" class="btn">Close</a> <a
										href="#" class="btn btn-primary">Save changes</a>
 -->
									<button type="button" class="btn btn-primary btn-ok"
										id="continue">Continue</button>
									<button type="button" class="btn btn-danger"
										data-dismiss="modal" id="cancel">Cancel</button>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12 col-md-6  col-lg-3">
							<label class="col-form-label col-form-label-sm" for="value1">Value1</label>
							<input class="form-control form-control-sm" th:field="*{value1}"
								id="value1" type="text" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12 col-md-6  col-lg-3">
							<label class="col-form-label col-form-label-sm" for="value2">Value2</label>
							<input class="form-control form-control-sm" th:field="*{value2}"
								id="value2" type="text" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12 col-md-6  col-lg-3">
							<label class="col-form-label col-form-label-sm" for="value3">Value3</label>
							<input class="form-control form-control-sm" th:field="*{value3}"
								id="value3" type="text" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-12 col-md-6  col-lg-3">

							<a data-toggle="modal" href="#myModal" class="btn btn-primary"><i
								class="icon-plus-squared"></i><span>Calculate Sum</span></a> <a
								data-toggle="modal" href="#myModal" class="btn btn-primary"
								th:onclick="'javascript:openModal();'"><i
								class="icon-plus-squared"></i><span>Calculate Sum2</span></a>



						</div>
					</div>

				</form>

			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script th:src="@{/assets/js/popper.min.js}"
		src="assets/js/popper.min.js"></script>
	<script th:src="@{/assets/js/tether.min.js}"
		src="assets/js/tether.min.js"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"
		src="assets/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		var _ctx = $("meta[name='ctx']").attr("content");

		//modal
		/* $('#openBtn').click(function() {
			$('#myModal').modal({
				show : true
			})
		}); */

		$(function() {
			$('form').on('submit', function() {
				$('#myModal').modal('show');
				return true;
			});
		});

		$('#myModal').on('hide.bs.modal', function(e) {
			if ($('#block').is(':checked')) {
				e.preventDefault();
				e.stopImmediatePropagation();
				return false;
			}
		});

		$('#continue').click(function() {
			window.location = _ctx;
		});

		$(function() {
			$.ajax({
				url : "/sum",
				success : function(data) {
					$("#modalHolder").html(data);
					$("#myModal").modal("show");
				}

			});

		}

	});
</script>
</html>